body
{
    position: relative;
    min-width: 43vh;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#controls, #map, #details
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#map
{
    width: 43vh;
    left: 50%;
    margin-left: -21.5vh;
}
#controls-close, #details-close { width: calc(50vw - 11.5vh); }

#controls:not(.visible), #details:not(.visible) { display: none; }

.den-circle1 { display: none; }
.controls-label { font-size: 110%; }